body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #9e9e9e;
}

.portrait img {
    border-radius: 50%;
    border: 5px solid #e0e0e0;
    margin-top: 20px;
}

h1{
    color: #f44336;
    font-weight: bolder;
}

p {font-size: 20px;}

.button {
    font-size: 20px;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 180px;
    height: 60px;
    margin-bottom: 20px;
}

.button:hover {background-color: #b71c1c}

.odyssey, .hulot, .alien {display: flex}

.info-odyssey, .info-hulot, .info-alien {padding-top: 100px;}

.bkg1 {
    background-color: #e0e0e0;
    padding-top: 50px;
}

.bkg2 {
    background-color: #eeeeee;
    width: 1250px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #212121;
    padding-top: 25px;
}


.portrait, .social, .movies{
    background-color: #FEFEFE;
    width: 700px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #FEFEFE;
    text-align: center;
    
}


#tim {
    text-align: justify;
    width: 600px;
    height: auto;
    margin : 0 auto;
    Line-Height: 1.5;
    padding-bottom: 15px;
}

.about-social {
    color: #9e9e9e;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 65px;
    text-decoration: none;
}

.social {
    margin-top: 20px;
}

.social li :hover {
    opacity: .5;
}

mark{
    background-color: #e0e0e0;
    color: #9e9e9e;
}

#his {
    padding-top: 20px;
}

.movies p {
    text-align: justify;
    Line-Height: 1.5;
    width: 380px;
    height: auto;
    padding-left: 30px;

}

.movies img {
    padding-left: 40px;
    max-width: 90%;
    height: auto;
    margin-top: 90px;
}

.movies{
    margin-bottom: 20px;
}

.odyssey, .hulot, .alien {
    margin-top: -75px;
}